@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf");
  }
  
body {
    font-family: "Poppins";
    background: #000;
  }
span {
  @apply py-2 text-4xl font-bold bg-gradient-to-r from-yellow-300 to-orange-400 text-transparent bg-clip-text
}
